* {
  margin: 0;
  padding: 0;
}

header{
  background-color:rgba(59, 11, 114, 0.808);
}

.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.centre { grid-area: 1 / 2 / 6 / 5; }
.gauche { grid-area: 1 / 1 / 6 / 2; }
.droite { grid-area: 1 / 5 / 6 / 6; }

